In [2]:
import sqlite3

In [3]:
#creation of db
sql = sqlite3.connect("test.db")

In [4]:
sql

In [5]:
#creation of cursor
cursor = sql.cursor()

In [6]:
#creation of table
cursor.execute('''
create table if not exists employees(
    id integer primary key,
    name text NOT NULL,
    age Integer,
    department text
    )
''')



## commt the channges
sql.commit()

In [8]:
cursor.execute('''
select * from employees

''')

In [11]:
## insert the data in sqlite table
cursor.execute('''
insert into employees(name, age, department)
values ("Sushant", 20, "cse"),
        ("varad", 20, "cse-ai"),
        ("rahul", 20, "cse-aiml"),
        ("Ayush", 20, "cse-core"),
        ("junaid", 20, "cse")

''')

sql.commit()

In [12]:
## Quering the data from table
cursor.execute('select * from employees')
rows = cursor.fetchall()

##print the Queried data
for i in rows:
    print(i)

(1, 'Sushant', 20, 'cse')
(2, 'varad', 20, 'cse-ai')
(3, 'rahul', 20, 'cse-aiml')
(4, 'Ayush', 20, 'cse-core')
(5, 'junaid', 20, 'cse')
(6, 'Sushant', 20, 'cse')
(7, 'varad', 20, 'cse-ai')
(8, 'rahul', 20, 'cse-aiml')
(9, 'Ayush', 20, 'cse-core')
(10, 'junaid', 20, 'cse')

In [15]:
## update the data in tabl
cursor.execute('''
update employees set age =34
where name="junaid"''')
sql.commit()

In [16]:
## Quering the data from table
cursor.execute('select * from employees')
rows = cursor.fetchall()

##print the Queried data
for i in rows:
    print(i)

(1, 'Sushant', 20, 'cse')
(2, 'varad', 20, 'cse-ai')
(3, 'rahul', 20, 'cse-aiml')
(4, 'Ayush', 20, 'cse-core')
(5, 'junaid', 34, 'cse')
(6, 'Sushant', 20, 'cse')
(7, 'varad', 20, 'cse-ai')
(8, 'rahul', 20, 'cse-aiml')
(9, 'Ayush', 20, 'cse-core')
(10, 'junaid', 34, 'cse')

In [17]:
## Delet the data from tablr
cursor.execute('''
delete from employees
where name="junaid"''')
sql.commit()

In [18]:
sql.commit()
## Quering the data from table
cursor.execute('select * from employees')
rows = cursor.fetchall()

##print the Queried data
for i in rows:
    print(i)

(1, 'Sushant', 20, 'cse')
(2, 'varad', 20, 'cse-ai')
(3, 'rahul', 20, 'cse-aiml')
(4, 'Ayush', 20, 'cse-core')
(6, 'Sushant', 20, 'cse')
(7, 'varad', 20, 'cse-ai')
(8, 'rahul', 20, 'cse-aiml')
(9, 'Ayush', 20, 'cse-core')

In [23]:
## working with the sales data
# connect to sqlite3
conn = sqlite3.connect("sale_data.db")
cur = conn.cursor()

# creating the table
cur.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id integer primary key,
    date Text NOT NULL,
    product text NOT NULL,
    sales Integer,
    region text
    )

''')
# inserting the data
sales_data = [
    ('2025-05-01', 'Laptop', 10, 'North'),
    ('2025-05-01', 'Smartphone', 25, 'South'),
    ('2025-05-02', 'Tablet', 15, 'East'),
    ('2025-05-02', 'Laptop', 8, 'West'),
    ('2025-05-03', 'Smartwatch', 20, 'North'),
    ('2025-05-03', 'Laptop', 12, 'South'),
]

cur.executemany('''
INSERT INTO sales (date, product, sales, region)
VALUES (?, ?, ?, ?)
''', sales_data)

conn.commit()

In [24]:
## Quering the data from table
cur.execute('select * from sales')
rows = cur.fetchall()

##print the Queried data
for i in rows:
    print(i)

(1, '2025-05-01', 'Laptop', 10, 'North')
(2, '2025-05-01', 'Smartphone', 25, 'South')
(3, '2025-05-02', 'Tablet', 15, 'East')
(4, '2025-05-02', 'Laptop', 8, 'West')
(5, '2025-05-03', 'Smartwatch', 20, 'North')
(6, '2025-05-03', 'Laptop', 12, 'South')

In [25]:
# close the connection
conn.close()

In [26]:
## Quering the data from table
cur.execute('select * from sales')
rows = cur.fetchall()

##print the Queried data
for i in rows:
    print(i)

ProgrammingError: Cannot operate on a closed database.